.advantages {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  color: $white-text;
  background: $bcg-black 50% 50% no-repeat url(../img/img/advantages-bcg.png);
}

.advantages__about {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: rgba(251, 251, 251, 0.5);

  &--ml410 {
    margin-left: 410px;
  }

  &--mr410 {
    margin-right: 410px;
  }

  &:last-of-type {
    margin-bottom: 150px;
  }

  & > .main-color {
    color: $main-color;
  }
}

.advantages__heading {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: $main-color;
  text-transform: uppercase;
}
