.main-nav {
  //Desktop-first
  display: flex;
  align-items: center;
  padding: 40px 0;

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    padding: 25px 16px;
    background: $white-text;

    & svg {
      fill: $main-color;
    }

    & .main-nav__item > a {
      color: $bcg-black;
    }

    .btn {
      margin-top: 38vh;
    }

    &--closed {
      background: transparent;

      & .main-nav__list,
      .btn {
        display: none;
      }
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 34px;

  @media (max-width: $tablet-width) {
    margin-top: 50px;
    display: block;

    &--bottom {
      margin-top: 20px;
    }
  }
}

.main-nav__item {
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 28px;
    margin-bottom: 20px;
  }
}

.main-nav__item {
  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: $white-text;
  }

  &--blc a {
    color: $bcg-black;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 21px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 26px;
  right: 16px;
  display: none;
  z-index: 2;
  width: 45px;
  height: 45px;
  padding: 6px 14px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

// Бургер на css
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 45px;
  height: 6px;
  background-color: $main-color;
  box-shadow: 0 12px 0 0 $main-color, 0 24px 0 0 $main-color;
  border-radius: 15px;
}

.main-nav--closed .main-nav__toggle {
  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav--closed svg {
  display: none;
}

//Крестик на css
.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 45px;
    height: 6px;
    background-color: $main-color;
    border-radius: 15px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav__open-btn-text {
  font-family: "Segoe-UI", "Arial", sans-serif;
  color: $basic-black;

  @media (max-width: $tablet-width) {
    font-weight: 350;
    font-size: 14px;
    line-height: 120%;
  }
}
