.main-nav { //Desktop-first
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    min-height: 80%;
    padding-top: 88px;
    box-shadow: 0 5px 15px rgba(231, 229, 229, 0.9);

    &--closed .main-nav__list {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 34px;

  @media (max-width: $tablet-width) {
    display: block;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.main-nav__item {
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    min-height: 28px;
    margin-bottom: 20px;

    &:last-child {
      position: absolute;
      bottom: 60px;
      right: 16px;
      margin-bottom: 0;
    }
  }
}

.main-nav__item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $basic-black;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 21px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 16px;
  display: none;
  z-index: 2;
  padding: 6px 14px;
  background-color: $btn-color;
  border: none;
  border-radius: 40px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

// Бургер на css
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 23px;
  width: 23px;
  height: 2px;
  background-color: $basic-white;
  box-shadow: 0 9px 0 0 $basic-white, 0 18px 0 0 $basic-white;
}

.main-nav--closed .main-nav__toggle {
  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

//Крестик на css
.main-nav--opened .main-nav__toggle {
  background-color: $basic-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 5px;
    width: 32px;
    height: 3px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav__open-btn-text {
  font-family: "Segoe-UI", "Arial", sans-serif;
  color: $basic-black;

  @media (max-width: $tablet-width) {
    font-weight: 350;
    font-size: 14px;
    line-height: 120%;
  }
}
