.page-header {
  background-color: $bcg-black;

  @media (max-width: $tablet-width) {
    padding: 25px 0;
  }

  svg {
    fill: $basic-white;
  }
}

.page-header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
