.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 96px;
  background-color: $bcg-black;

  @media (min-width: $tablet-width) {
  }
}

.daily-pay__icon {
  fill: white;
}
