.why-us {
  padding-top: 100px;
  padding-bottom: 30px;
  background: $bcg-black;
  color: $white-text;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
  }
}

.why-us__heading {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: $main-color;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 39px;
  }
}

.why-us__about {
  max-width: 760px;
}
