html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.btn {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 0 15px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $main-color;
  background-color: transparent;
  border: 1px solid $main-color;

  & svg {
    fill: $main-color;
  }

  &:hover {
    color: $bcg-black;
    background-color: $main-color;

    svg {
      fill: $bcg-black;
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 96px;

  @media (max-width: $tablet-width) {
    padding: 0 16px;
  }
}
