//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$gold: #b79069;
$bcg-black: #0d0c0c;
$terms-color: #5b5b5b;
$referal: #dadada;
$btn-color: #f5ee36;

$header-color: #fbfbfb;

// Viewprts
$tablet-width: 768px;
